asttokens==2.4.0
backcall==0.2.0
black==23.9.1
click==8.1.7
colorama==0.4.6
decorator==5.1.1
executing==2.0.0
ipython==8.16.1
jedi==0.19.1
matplotlib-inline==0.1.6
mypy-extensions==1.0.0
packaging==23.2
parso==0.8.3
pathspec==0.11.2
pickleshare==0.7.5
platformdirs==3.11.0
prompt-toolkit==3.0.39
pure-eval==0.2.2
Pygments==2.16.1
ruff==0.0.292
six==1.16.0
stack-data==0.6.3
tokenize-rt==5.2.0
traitlets==5.11.2
wcwidth==0.2.8
